          
            <!-- Portfolio Section-->
            <section class="page-section portfolio" id="unidad" >
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h3 class=" text-center text-uppercase mb-0">Mis trabajos</h3>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-bullseye"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    
                
                <mat-horizontal-stepper class="margen">
                    <mat-step  label="UNIDAD 1">
                        <br>
                        <br>
                        <h3 class="text-uppercase mb-0" style="text-align: center;">UNIDAD 1</h3>
                            <br>

                        <!-- UNIDAD 1-->
                        <div id="unidad1">
                            <!-- Portfolio Grid Items-->
                            <div class="row justify-content-center">
                                <!-- IMAGEN DEL UBUNTU-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid " src="assets/img/3.png" alt="..." width="400px" height="300px"/>
                                    </div>
                                </div>
                                <!-- IMAGEN DEL SSH-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid " src="assets/img/4.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                                <!--IMAGEN DEL NTP-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid " src="assets/img/6.png" alt="..." width="400px" height="300px"/>
                                    </div>
                                </div>
                                <!--IMAGEN DE LA GUIA-->
                                <div class="col-md-3 mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal7">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid " src="assets/img/2.png" alt="..." width="400px" height="300px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-step>


                    <!-- UNIDAD 2-->
                    <mat-step label="UNIDAD 2">
                        <div id="unidad1">
                            <h3 class="text-uppercase mb-0" style="text-align: center;">UNIDAD 2</h3>
                            <br>
                            <!-- Portfolio Grid Items-->
                            <div class="row justify-content-center">
                                <!--IMAGEN DEL DNS-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid " src="assets/img/dns.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                                <!--IMAGEN DEl DHCP-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="assets/img/1.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                                <!--IMAGEN DEL SQUID-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="assets/img/squid.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                                <!--IMAGEN DE LA GUIA-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal8">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="assets/img/2.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                                <div class="col-md-3  mb-5">
                                </div>
                                <div class="col-md-3  mb-5">
                                </div>
                            </div>
                        </div>
                    </mat-step>

                    <!--UNIDAD 3-->
                    <mat-step label="UNIDAD 3">
                        <div id="unidad1">
                            <h3 class="text-uppercase mb-0" style="text-align: center;">UNIDAD 3</h3>
                            <br>
                            <!-- Portfolio Grid Items-->
                            <div class="row justify-content-center">
                                <!--IMAGEN DE MYSQL-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal10">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="assets/img/mysql.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                                <!--IMAGEN DE LA GUIA-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal11">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="assets/img/reporteFinal.png" alt="..." width="400px" height="300px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-step>

                    <!--UNIDAD 4-->
                    <mat-step label="UNIDAD 4">
                        <div id="unidad1">
                            <h3 class="text-uppercase mb-0" style="text-align: center;">UNIDAD 4</h3>
                            <br>
                            <!-- Portfolio Grid Items-->
                            <div class="row justify-content-center">
                                <!--IMAGEN DE LA GUIA-->
                                <div class="col-md-3  mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal12">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid " src="assets/img/2.png" alt="..." width="400px" height="300px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
                </div>
            </section>
    
            <div>

                <!-- Portfolio Modal 1-->
                <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
        
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">Reporte instalación Ubuntu</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1EOC_Jw6Aw60yftbAM_8anhhyAJhPcaLR/preview" width="90%" height="780" allow="autoplay"></iframe>                                </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Portfolio Modal 2-->
                <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">Reporte servidor SSH</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1jz2j4Yz5ZMh1Aq77mtBIf-fc7GshjpSc/preview" width="90%" height="780" allow="autoplay"></iframe>                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Modal 3-->
                <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">Reporte servidor NTP</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1F0L8EcsYTAKCnz8uh6yf2actW5-dPwvT/preview" width="90%" height="780" allow="autoplay"></iframe>                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Modal 4-->
                <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">Reporte servidor DNS</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1k2jSThZRo34o8sYti6JRHwOZFmvc8cRT/preview" width="90%" height="780" allow="autoplay"></iframe>                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Modal 5-->
                <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">Reporte servidor DHCP</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1_cgYo8OS-L00t71zgIvb_wyo7dWLXMQL/preview" width="90%" height="780" allow="autoplay"></iframe>                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">Reporte PROXY SQUID</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1LquLqpAnym99e4QmwbX5EiBbw2-L8aWN/preview" width="90%" height="780" allow="autoplay"></iframe>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" aria-labelledby="portfolioModal7" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">GUIA DE ESTUDIO UNIDAD 1</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1hGcZGlL5dzJAmv9Yp67CouBP6uBJqmSg/preview" width="90%" height="780" allow="autoplay"></iframe>
                                    </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" aria-labelledby="portfolioModal8" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">GUIA DE ESTUDIO UNIDAD 2</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/15uKAVuOaJEYrBk_xCG9r5afPYxAAILAR/preview" width="90%" height="780" allow="autoplay"></iframe>
                                         </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        
        
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" aria-labelledby="portfolioModal9" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">GUIA DE ESTUDIO UNIDAD 3</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1LquLqpAnym99e4QmwbX5EiBbw2-L8aWN/preview" width="90%" height="780" allow="autoplay"></iframe>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" aria-labelledby="portfolioModal10" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">BASE DE DATOS</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1LT-P5sn6Ow9ob_qHc4tAvbz-MPO9OPOp/preview" width="90%" height="780" allow="autoplay"></iframe>                                      
                                          </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" aria-labelledby="portfolioModal11" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">REPORTE UNIDAD 3</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1efGaDxNyVJ0Nh7-Qx7YD5h5VgADXo5Xb/preview" width="90%" height="780" allow="autoplay"></iframe>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Modal 6-->
                <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" aria-labelledby="portfolioModal12" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="text-uppercase mb-0">UNIDAD 4</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <iframe src="https://drive.google.com/file/d/1tM0zLzI2n05W2ebCfqfdZqiVGxi0aWYA/preview" width="90%" height="480" allow="autoplay"></iframe>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                </div>
                